<form action="">
  <md-card>
    <md-card-header>
      <md-card-titel>登录</md-card-titel>
      <md-card-subtitle>

      </md-card-subtitle>
    </md-card-header>
    <im src="" alt=""></im>
    <md-card-content>
      <md-input-container floatPlaceholder="float" ,hintLable="必填项">
        <!--mdInput 指令-->
        <span presuffix>zhognfu</span>
        <input mdInput type="text" placeholder="请输入您的邮箱">
        <span mdsuffix>@52mamahome.com</span>
      </md-input-container>
      <md-input-container>
        <!--mdInput 指令-->
        <input mdInput type="password" placeholder="请输入您的密码">
        <button md-button type="submit">登录</button>
      </md-input-container>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>还未注册？<a href="">立即注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </md-card-actions>
  </md-card>
</form>
