<div class="panel-body">
  <p class="text-center pv">登录系统</p>
   <form [formGroup]="valForm" class="form-validate mb-lg" role="form" name="loginForm" novalidate="">
     <div class="form-group has-feedback">
       <input class="form-control" id="exampleInputEmail1" type="email" name="email" placeholder="登录邮箱"
              autocomplete="off" required/>
       <span class="fa fa-envelope form-control-feedback text-muted"></span>
       <span class="text-danger"
             *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field is required</span>
       <span class="text-danger"
             *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field must be a valid email address</span>
     </div>
     <div class="form-group has-feedback">
       <input class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder="登录密码"
              required/>
       <span class="fa fa-lock form-control-feedback text-muted"></span>
       <span class="text-danger"
             *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">This field is required</span>
     </div>
     <div class="clearfix">
       <div class="checkbox c-checkbox pull-left mt0">
         <label>
           <input type="checkbox" value="" name="account_remember"/>
           <span class="fa fa-check"></span>Remember Me</label>
       </div>
       <div class="pull-right"><a class="text-muted" [routerLink]="'/recover'">Forgot your password?</a>
       </div>
     </div>
     <button class="btn btn-block btn-primary mt-lg" type="submit">Login</button>
   </form>
   <div class="alert alert-danger text-center" ></div>
  <p class="pt-lg text-center">还没注册?</p><a class="btn btn-block btn-default" [routerLink]="'/register'">立即注册
  Now</a>
</div>
